.button {
	background-color: transparent;
	border: 1vw solid transparent;
	border-radius: 3vw;
	font-family: 'space_ageregular', sans-serif;
	font-size: 6vw;
	padding: 1.5vw;
	width: 100%;

	&.button-submit {
		color: $white;
		background-color: $purple-red;
		border-color: $purple-red;

		&:focus {
			background-color: $purple-red-lighter;
			border-color: $purple-red-lighter;
		}
	}
}
