body {
	max-width: 100vw;
	overflow: hidden;
}

.top-header {
	display: flex;
	justify-content: space-around;
	padding: .5em;
	background-size: 100%;
	background-color: black;
	background-image:url('/assets/img/header.png');
	padding-bottom: 21vw;
	.header-avatar{
		position: absolute;
		width: 12%;
		border-radius: 50%;
		color: white;
		top: 3%;
		left: 5%;
	}
	.header-logout{
		position: absolute;
		width: 12%;
		border-radius: 50%;
		color: white;
		top: 3%;
		right: 5%;
	}
	.header-item {
		position: relative;
		width: 20%;
		height: 20%;
		border-radius: 50%;

		&.item-avatar {
			background-size: 100%;
		}

		p {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.outer-space-container {
	background-image: url('/assets/img/outer-space/space-movement.jpg');
	background-size: 100%;
}

.outer-space {
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
	top: 24vw;
	left: 0;
	right: 0;
	bottom: 0;
	// If you change the duration, do not forget to change the setTimouts in the JS file 'galaxy.js', at _change_screen().
	transition: all 2.75s ease-in;
	opacity: 0;
	transform: scale(0.01);

	&.outer-space-leaving {
		opacity: 0;
		transform: scale(5);
	}

	&.outer-space-approaching {
		opacity: 1;
		transform: scale(1);
	}

	&.outer-space-approached {
		background-image: url('/assets/img/outer-space/space-static.jpg');
		opacity: 1;
		transform: scale(1);
	}

	&.outer-space-faraway {
		z-index: -4;
	}

	.planet-frame {
		display: flex;
		position: absolute;
		background-size: 100%;
		background-repeat: no-repeat;
		z-index: 1;

		&.completed::before {
			content: "";
			position: absolute;
			width: 7.5vw;
			height: 7.5vw;
			top: -6.5vw;
			left: 65%;
			background-image: url('/assets/img/planets/black-flag.png');
			background-size: 100%;
			transform: translateX(-50%);
			z-index: 0;
		}

		.planet-frame-link {
			flex-grow: 1;
			width: 100%;
			height: 100%;
			z-index: 15;
		}
	}
}

.spaceship {
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		background-image: url('/assets/img/rudder-overlapping-piece.png');
		background-size: 100%;
		width: 3.9vw;
		height: 6.9vw;
		bottom: 27.75vw;
		left: 50vw;
		transform: translateX(-50%);
		z-index: 10;
	}

	.spaceship-cockpit {
		position: relative;
		width: 100%;
		z-index: 1;
	}

	.frame-container {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0;
		transition: opacity 2.75s ease-in;

		&.frame-container-active {
			opacity: 1;
			z-index: 3;
		}
	}

	.spaceship-planet-frame-container {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

		.spaceship-planet-frame {
			position: absolute;
			width: 20vw;
			height: auto;
			padding-bottom: 20vw;
			background-size: 100%, 75%;
			background-repeat: no-repeat;
			background-position:  50% 15%, center;
			z-index: 4;

			&.completed {
				opacity: 0.35;
			}
		}
	}

	[data-planet-position="1"] {
		left: 50vw;
		bottom: 27vw;
		transform: translateX(-50%);
	}

	[data-planet-position="2"] {
		left: 8vw;
		bottom: 17vw;
		transform: translateX(-25%);
	}

	[data-planet-position="3"] {
		right: 8vw;
		bottom: 17vw;
		transform: translateX(25%);
	}

	.planets-frame-links {
		position: absolute;

		.planet-frame-link {
			position: absolute;
		}
	}
}

[data-planet="planet-1"] {
	width: 40vw;
	height: 40vw;
	left: 50vw;
	top: 25vw;

	&.planet-frame {
		//background-image: url('/assets/img/planets/planet-1.png');
	}
}

[data-planet="planet-2"] {
	width: 17.5vw;
	height: 17.5vw;
	left: 10vw;
	top: 47.5vw;

	&.planet-frame {
		//background-image: url('/assets/img/planets/planet-2.png');
	}
}

[data-planet="planet-3"] {
	width: 20vw;
	height: 20vw;
	left: 40vw;
	top: 77.5vw;

	&.planet-frame {
		//background-image: url('/assets/img/planets/planet-3.png');
	}
}

[data-planet="planet-4"] {
	width: 25vw;
	height: 25vw;
	left: 65vw;
	top: 10vw;

	&.planet-frame {
		//background-image: url('/assets/img/planets/planet-4.png');
	}
}

[data-planet="planet-5"] {
	width: 40vw;
	height: 40vw;
	left: 10vw;
	top: 30vw;

	&.planet-frame {
		//background-image: url('/assets/img/planets/planet-5.png');
	}
}

[data-planet="planet-6"] {
	width: 25vw;
	height: 25vw;
	left: 55vw;
	top: 77.5vw;

	&.planet-frame {
		//background-image: url('/assets/img/planets/planet-6.png');
	}
}

[data-planet="planet-7"] {
	width: 20vw;
	height: 20vw;
	left: 22.5vw;
	top: 20vw;

	&.planet-frame {
		//background-image: url('/assets/img/planets/planet-7.png');
	}
}

[data-planet="planet-8"] {
	width: 30vw;
	height: 30vw;
	left: 65vw;
	top: 42.5vw;

	&.planet-frame {
		//background-image: url('/assets/img/planets/planet-8.png');
	}
}

[data-planet="planet-9"] {
	width: 25vw;
	height: 25vw;
	left: 25vw;
	top: 80vw;

	&.planet-frame {
		//background-image: url('/assets/img/planets/planet-9.png');
	}
}
