.planet {
	.outer-space-planet-zoom {
		opacity: 1;
		transform: scale(1);
	}

	.aliens-frame {
		position: relative;
		height: 154.5vw;

		.alien-frame {
			position: absolute;
			height: 30vw;
			top: 66%;	

			img {
				max-width: 100%;
			}
		}
	}
}