<header class="top-header" data-outer-space="1">
  <div class="header-item item-avatar" data-avatar-name="green-alien"></div>
  <div class="header-item item-completion">
    <p>30%</p>
  </div>
  <div class="header-item item-score">
    <p>26</p>
  </div>
</header>
<main class="outer-space" data-outer-space="1">
  <div class="planets-frame">
    <div class="planet-frame completed" data-planet="brown-planet" data-coordinates-x="50" data-coordinates-y="25" data-width="40"></div>
    <div class="planet-frame" data-planet="yellow-planet" data-coordinates-x="10" data-coordinates-y="47.5" data-width="17.5"></div>
    <div class="planet-frame" data-planet="violet-planet" data-coordinates-x="40" data-coordinates-y="77.5" data-width="20"></div>
  </div>
  <div class="spaceship">
    <div class="spaceship-planet-frame-container">
      <img class="spaceship-cockpit" src="/assets/spaceship.png" alt="spaceship-cockpit">
      <div class="spaceship-planet-frame completed" data-planet="brown-planet" data-planet-position="1"></div>
      <div class="spaceship-planet-frame" data-planet="yellow-planet" data-planet-position="3"></div>
      <div class="spaceship-planet-frame" data-planet="violet-planet" data-planet-position="2"></div>
      <div class="spaceship-gauges"></div>
    </div>
  </div>
  <div class="galaxy-sector-changement-container">
    <a href="#left" class="galaxy-sector-changement galaxy-sector-changement-left"></a>
    <a href="#right" class="galaxy-sector-changement galaxy-sector-changement-right"></a>
  </div>
  <div class="planets-frame-links"></div>
  <div class="spaceship-planets-frame-links"></div>
</main>