.outer-space{
    background-image: url('/assets/outer-space/outer-space-1.png');
}
.top-header{
    background-image: url('/assets/outer-space/outer-space-header-1.png');
}
.item-avatar{
    background-image: url('/assets/avatar-green-alien.png');
}