.app-title {
    font-size: 9vw;
    color: white;
    padding: 6vw 0;
    text-align: center;
}
.img-click-animat {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
