@font-face {
    font-family: 'space_ageregular';
    src: url('/assets/fonts/space-age/space_age-webfont.eot');
    src: url('/assets/fonts/space-age/space_age-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/space-age/space_age-webfont.woff2') format('woff2'),
         url('/assets/fonts/space-age/space_age-webfont.woff') format('woff'),
         url('/assets/fonts/space-age/space_age-webfont.ttf') format('truetype'),
         url('/assets/fonts/space-age/space_age-webfont.svg#space_ageregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
