<main class="outer-space-container">
  <section class="outer-space outer-space-approached box-resume">
    <section class="home" id="home-register">
      <form *ngIf="isUp()" class="galaxy-formhome">
        <div class="category" *ngFor="let category of categories">
          <div class="title">
            <img class="planet" [src]="getCategoryImage(category)">
            <span>{{category.name}}</span>
          </div>
          <div class="images">
            <img class="question" *ngFor="let question of getQuestions(category)" (click)="goToQuestion(question, category)" [src]="getImage(question)">
          </div>
        </div>
      </form>
    </section>

  </section>
</main>
