.box-resume{
  overflow: scroll;
}
.home{
    width: 100% !important;
    height: 200vh !important;
}
.galaxy-form{
    padding-top:10vw !important;
    padding-left:10vw !important;
}
span{
    color: white;
    font-size: 3vh !important;
}
.planet{
    width: 7vh;
    vertical-align:middle;
}
.question{
    height: 5vh;
    margin-left: 4vh;
}
.images{
  width: 100%;
    margin-left: 7vh;
}
