<section class="home auth"  id="1" id="home-login">
    <h1 class="app-title" (swipeleft)="swip()">Arcadia</h1>
    <h1 class="app-error" *ngIf="error">{{error}}</h1>
    <form class="galaxy-form" (ngSubmit)="onSubmit()" #alienForm="ngForm" id="resetform">
      <!--email-->
      <div class="galaxy-form-row">
        <input type="text" name="resetemail" placeholder="utilisateur@norsys.fr" id="resetemail" required  
        [(ngModel)]="resetemail" #email="ngModel" pattern="^[A-Za-z0-9]+@norsys.fr$"
         autocomplete="off">
         <div  [hidden]="email.valid || email.pristine">
            <p [hidden]="!email.hasError('required')" class="field-error">champ obligatoire</p>
            <p [hidden]="!email.hasError('pattern')" class="field-error">Ex: utilisateur@norsys.fr</p>
          </div>
      </div>
  
  
      <!--submit-->
      <button type="submit" class="button button-submit" [disabled]="!alienForm.form.valid">Generer mot de passe</button>


      <h1 class="app-title"  (click)="swipsignin()" id="Reset-animat">
          SE CONNECTER >>>
         </h1>
    </form>
  </section>
  