<div class="planet">
	<main class="outer-space outer-space-planet-zoom" [style.backgroundImage]="getBackgroundImage()" data-planet="cloudy-purple">
		<section class="home" id="home-login">
			<h1 class="app-title">{{question.question}}</h1>
			<form class="galaxy-form" #alienForm="ngForm">
				<button class="button button-action" (click)="imgFileInput.click()">Take Picture</button>
				<input hidden type="file" accept="image/*;capture=camera" #imgFileInput (change)="readUrl($event)" />
				<img  [src]="imageData" *ngIf="imageData" height="140vh"/>
				<button type="submit" (click)="onSubmit()" [disabled]="!isImageSelected" class="button button-submit">Submit</button>
			</form>
		</section>
	</main>
</div>
