<!--add comment-->
<section class="home auth" id="home-register">
  <h1 class="app-title" (swiperight)="swip()">Arcadia</h1>

  <form class="galaxy-form" (ngSubmit)="onSubmit(alienForm)" #alienForm="ngForm">
    <!--email-->
    <div class="galaxy-form-row">
      <input type="text" name="galaxy-last-name" placeholder="utilisateur@norsys.fr" id="email" required autocomplete="off" [(ngModel)]="alien.email"
        name="email" #email="ngModel" pattern="^[A-Za-z0-9]+@norsys.fr$">
      <div  [hidden]="email.valid || email.pristine">
        <p [hidden]="!email.hasError('required')" class="field-error">champ obligatoire</p>
        <p [hidden]="!email.hasError('pattern')" class="field-error">Ex: utilisateur@norsys.fr</p>
      </div>
    </div>
    <!--password-->
    <div class="galaxy-form-row">
      <input type="password" name="galaxy-last-name" placeholder="mot de passe" id="passwd" required autocomplete="off" [(ngModel)]="alien.password"
        name="password" #password="ngModel">
      <div  [hidden]="password.valid || password.pristine">
        <p [hidden]="!password.hasError('required')" class="field-error">champ obligatoire</p>
      </div>
    </div>
    <!--agency-->
    <div class="galaxy-form-row" >
      <select name="galaxy-agency" required #agency="ngModel" [(ngModel)]="alien.agence_id">
        <option value="" disabled selected>Choisir une agence</option>
        <option *ngFor="let agency of agencies" value={{agency.id}}>{{agency.name}}</option>
      </select>
    </div>
    <!--code postale-->
    <div class="galaxy-form-row">
      <input type="text" name="galaxy-postalCode" placeholder="code postale" id="postalCode" required autocomplete="off" [(ngModel)]="alien.postalCode"
             name="postalCode" #postalCode="ngModel" pattern="^[0-9]+$">
      <div [hidden]="postalCode.valid || postalCode.pristine">
        <p [hidden]="!postalCode.hasError('required')" class="field-error">champ obligatoire</p>
        <p [hidden]="!postalCode.hasError('pattern')" class="field-error">Ex: 40000</p>
      </div>
    </div>
    <!--nickname-->
    <div class="galaxy-form-row">
      <input type="text" name="galaxy-nickname" placeholder="pseudo de l'avatar" id="nickname" required autocomplete="off" [(ngModel)]="alien.nickName"
             name="nickname" #nickname="ngModel">
      <div [hidden]="nickname.valid || nickname.pristine">
        <p [hidden]="!nickname.hasError('required')" class="field-error">champ obligatoire</p>
      </div>
    </div>
    <!--avatar-->
    <div class="galaxy-form-row">
      <div class="galaxy-avatar-list">
        <div class="galaxy-avatar" *ngFor="let avatar of avatars" [ngClass]="{'galaxy-avatar-selected': isSelected(avatar) }">
          <img class="galaxy-avatar-image" src="/assets/img/avatars/{{avatar}}.svg" (click)="selectAvatar(avatar)" alt="An avatar">
        </div>
      </div>
    </div>
    <!--submit-->
    <button type="submit" class="button button-submit" [disabled]="!isSignUpFormValid(alienForm)">S'inscrire</button>
    <!--errors-->
    <span *ngIf="isUserAlreadyRegistred" class="user-exist-error"> Cet Utilisateur existe dèjà</span>
    <span *ngIf="!isSignUpFormValid(alienForm)" class="user-exist-error"> Veuillez saisir tous les champs</span>

    <div (swiperight)="swip()" (click)="swip()" id="SingUp-animat">
      <h1 class="app-title" >
        <<< SE CONNECTER</h1>
    </div>
  </form>
</section>
