<section class="container">
  <div class="aide">
    <br>
    <p>
      Bonjour et bienvenue sur Arcadia
    </p>
    <br>
    <br>
    <p>
      Une application qui te suivra pendant ton 1er mois d’intégration à norsys.
    </p>
    <br>
    <p>
      Cette application a été crée en 2018, afin que tu puisses découvrir norsys à travers une application ludique. L’objectif est de relever les 3 défis de chaque planète. si tu remportes le défi 1, cela t’ouvrira le défi 2 et ainsi de suite. Une planète finalisée t’offrira des bonus. A TOI DE JOUER !
    </p>
    <br>
    <p>
      Tu auras l’occasion de donner ton avis sur l’application lors de ton premier point RH au bout d’un mois.
    </p>
    <br>
    <p>
      Pour naviguer, utilises le swipe ou le clic. Tu peux utiliser la roue (en haut à gauche) pour retourner à l'écran précédent.
    </p>
    <br>
    <p>
      Si tu rencontres des problèmes, merci de contacter <a style="color: white" href="mailto:fboissier@norsys.fr">fboissier@norsys.fr</a>
    </p>
  </div>
</section>
