.app-title{
    margin: 10px;
}


.galaxy-radio-container{
  padding: 5%;
}
.galaxy-response{
  margin: 1% !important;
}
.text-multi{
  margin-left: 5%;
}
.error-submit{
  float:left;
  width:100%;
  margin-top: -30px;
  text-align: center;
  font-size: 7vw;
  font-weight: bold;
  color: #c01155;
}
