<div class="planet">
  <main class="outer-space outer-space-planet-zoom" [style.backgroundImage]="getBackgroundImage()" data-planet="cloudy-purple">
    <section class="home" id="home-login">
      <h1 class="app-title">{{questionText}}</h1>
      <p *ngIf="textErrorEmpty" [hidden]="isTextErrorEmptyHidden" class="error-submit">{{textErrorEmpty}}</p>
      <form class="galaxy-form" #alienForm="ngForm">
        <div class="galaxy-form-row">
            <div class="galaxy-radio-container" *ngFor="let option  of this.options; let i = index">
              <input type="checkbox" name="options" [checked]="option.checked" (change)="handleSelect(option.value,$event)">
              <span class="text-multi">{{option.value}}</span>
            </div>
          </div>

        <button type="submit" (click)="onSubmit()" class="button button-submit">Enregistrer</button>
      </form>
    </section>
  </main>
</div>
