/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

.top-header {
  display: flex;
  justify-content: space-around;
  padding: .5em;
  background-size: 100%;
  background-repeat: no-repeat; }
  .top-header .header-item {
    position: relative;
    width: 19%;
    height: auto;
    padding-top: calc(19% - 4px);
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%; }
    .top-header .header-item.item-avatar {
      background-size: 100%; }
    .top-header .header-item p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.outer-space {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat; }
  .outer-space .planet-frame {
    position: absolute;
    background-size: 100%;
    z-index: 1; }
    .outer-space .planet-frame.completed::before {
      content: "";
      position: absolute;
      width: 7.5vw;
      height: 7.5vw;
      top: -6.5vw;
      left: 65%;
      background-image: url("/assets/planets/black-flag.png");
      background-size: 100%;
      transform: translateX(-50%);
      z-index: 0; }
  .outer-space .spaceship {
    overflow: hidden; }
    .outer-space .spaceship::before {
      content: "";
      position: absolute;
      background-image: url("/assets/rudder-overlapping-piece.png");
      background-size: 100%;
      width: 3.9vw;
      height: 6.9vw;
      bottom: 27.75vw;
      left: 50vw;
      transform: translateX(-50%);
      z-index: 10; }
    .outer-space .spaceship .spaceship-cockpit {
      position: relative;
      width: 100%;
      margin-top: -2px;
      z-index: 2; }
    .outer-space .spaceship .spaceship-planet-frame {
      position: absolute;
      width: 15vw;
      height: auto;
      padding-bottom: 15vw;
      background-size: 100%;
      z-index: 4; }
      .outer-space .spaceship .spaceship-planet-frame.completed {
        opacity: 0.35; }
    .outer-space .spaceship .spaceship-gauges {
      position: absolute;
      width: 90vw;
      height: 20vw;
      bottom: 24vw;
      left: 50vw;
      background-image: url("/assets/fuel-gauges.png");
      background-size: 100%;
      transform: translateX(-50%);
      z-index: 4; }
  .outer-space .galaxy-sector-changement-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 3; }
    .outer-space .galaxy-sector-changement-container .galaxy-sector-changement {
      width: 10vw; }
  .outer-space .spaceship-planets-frame-links,
  .outer-space .planets-frame-links {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .outer-space .spaceship-planets-frame-links .spaceship-planet-frame,
    .outer-space .planets-frame-links .spaceship-planet-frame {
      position: absolute;
      width: 15vw;
      height: auto;
      padding-bottom: 15vw;
      border-radius: 50%;
      z-index: 6; }
  .outer-space [data-planet-position="1"] {
    left: 50vw;
    bottom: 29vw;
    transform: translateX(-50%); }
  .outer-space [data-planet-position="2"] {
    left: 10vw;
    bottom: 19vw;
    transform: translateX(-25%); }
  .outer-space [data-planet-position="3"] {
    right: 10vw;
    bottom: 19vw;
    transform: translateX(25%); }

/*# sourceMappingURL=styles.css.map */
