@charset "utf-8";

@import "./style/base/reset";
@import "./style/base/variables";
@import "./style/base/fonts";
@import "./style/base/common";
@import "./style/components/buttons";
@import "./style/components/galaxy";
@import "./style/components/planets";
@import "./style/pages/home";