<main class="outer-space" data-outer-space="3">
  <div class="planets-frame">
    <div class="planet-frame" data-planet="blue-orange-planet" data-coordinates-x="20" data-coordinates-y="15" data-width="22.5"></div>
    <div class="planet-frame" data-planet="cloudy-purple-planet" data-coordinates-x="65" data-coordinates-y="42.5" data-width="30"></div>
    <div class="planet-frame" data-planet="red-planet" data-coordinates-x="25" data-coordinates-y="80" data-width="25"></div>
  </div>
  <div class="spaceship">
    <div class="spaceship-planet-frame-container">
      <img class="spaceship-cockpit" src="/assets/img/spaceship.png" alt="spaceship-cockpit">
      <div class="spaceship-planet-frame" data-planet="blue-orange-planet" data-planet-position="3"></div>
      <div class="spaceship-planet-frame" data-planet="cloudy-purple-planet" data-planet-position="2"></div>
      <div class="spaceship-planet-frame" data-planet="red-planet" data-planet-position="1"></div>
      <div class="spaceship-gauges"></div>
    </div>
  </div>
  <div class="galaxy-sector-changement-container">
    <a href="./galaxy-sector-beta.html" class="galaxy-sector-changement galaxy-sector-changement-left"></a>
    <a href="./galaxy-sector-alpha.html" class="galaxy-sector-changement galaxy-sector-changement-right"></a>
  </div>
  <div class="planets-frame-links"></div>
  <div class="spaceship-planets-frame-links"></div>
</main>