<main class="outer-space-container" (swipeleft)="swip('left')"  (swiperight)="swip('right')">

  <section class="outer-space" data-outer-space="1">
    <div class="planets-frame">
      <div class="planet-frame completed" data-planet="brown-planet"></div>
      <div class="planet-frame" data-planet="yellow-planet"></div>
      <div class="planet-frame" data-planet="violet-planet"></div>
    </div>
  </section>
  <section class="outer-space" data-outer-space="2">
    <div class="planets-frame">
      <div class="planet-frame" data-planet="albator-planet"></div>
      <div class="planet-frame" data-planet="halo-green-planet"></div>
      <div class="planet-frame" data-planet="teal-planet"></div>
    </div>
  </section>
  <section class="outer-space" data-outer-space="3">
    <div class="planets-frame">
      <div class="planet-frame" data-planet="blue-orange-planet"></div>
      <div class="planet-frame" data-planet="cloudy-purple-planet"> </div>
      <div class="planet-frame" data-planet="red-planet"></div>
    </div>
  </section>
  <section class="spaceship">
    <img class="spaceship-cockpit" src="/assets/img/spaceship.png" alt="spaceship-cockpit">
    <div class="frame-container" data-sector="1">
      <div class="spaceship-planet-frame-container">
        <div class="spaceship-frame-planets">
          <div class="spaceship-planet-frame completed" data-planet-position="1" style="background-image:url('/assets/img/fuel-gauges-1.png'), url('/assets/img/planets/brown-planet.png');"></div>
          <div class="spaceship-planet-frame" data-planet-position="3" style="background-image:url('/assets/img/fuel-gauges-3.png'), url('/assets/img/planets/yellow-planet.png');"></div>
          <div class="spaceship-planet-frame" data-planet-position="2" style="background-image:url('/assets/img/fuel-gauges-2.png'), url('/assets/img/planets/violet-planet.png');"></div>
        </div>
        <div class="spaceship-frame-links">
          <a href="/assets/planets/brown-planet.html" class="spaceship-planet-frame" data-planet-position="1"></a>
          <a href="/assets/planets/yellow-planet.html" class="spaceship-planet-frame" data-planet-position="3"></a>
          <a href="/assets/planets/violet-planet.html" class="spaceship-planet-frame" data-planet-position="2"></a>
        </div>
      </div>
      <div class="planets-frame-links">
        <a class="planet-frame-link" href="/assets/planets/brown-planet.html" data-planet="brown-planet"></a>
        <a class="planet-frame-link" href="/assets/planets/yellow-planet.html" data-planet="yellow-planet"></a>
        <a class="planet-frame-link" href="/assets/planets/violet-planet.html" data-planet="violet-planet"></a>
      </div>
    </div>
    <div class="frame-container" data-sector="2">
      <div class="spaceship-planet-frame-container">
        <div class="spaceship-frame-planets">
          <div class="spaceship-planet-frame completed" data-planet-position="3" style="background-image:url('/assets/img/fuel-gauges-3.png'), url('/assets/img/planets/albator-planet.png');"></div>
          <div class="spaceship-planet-frame" data-planet-position="2" style="background-image:url('/assets/img/fuel-gauges-2.png'), url('/assets/img/planets/halo-green-planet.png');"></div>
          <div class="spaceship-planet-frame" data-planet-position="1" style="background-image:url('/assets/img/fuel-gauges-1.png'), url('/assets/img/planets/teal-planet.png');"></div>
        </div>
        <div class="spaceship-frame-links">
          <a href="/assets/planets/albator-planet.html" class="spaceship-planet-frame" data-planet-position="3"></a>
          <a href="/assets/planets/halo-green-planet.html" class="spaceship-planet-frame" data-planet-position="2"></a>
          <a href="/assets/planets/teal-planet.html" class="spaceship-planet-frame" data-planet-position="1"></a>
        </div>
      </div>
      <div class="planets-frame-links">
        <a class="planet-frame-link" href="/assets/planets/albator-planet.html" data-planet="albator-planet"></a>
        <a class="planet-frame-link" href="/assets/planets/halo-green-planet.html" data-planet="halo-green-planet"></a>
        <a class="planet-frame-link" href="/assets/planets/teal-planet.html" data-planet="teal-planet"></a>
      </div>
    </div>
    <div class="frame-container" data-sector="3">
      <div class="spaceship-planet-frame-container">
        <div class="spaceship-frame-planets">
          <div class="spaceship-planet-frame" data-planet-position="3" style="background-image:url('/assets/img/fuel-gauges-3.png'), url('/assets/img/planets/blue-orange-planet.png');"></div>
          <div class="spaceship-planet-frame" data-planet-position="2" style="background-image:url('/assets/img/fuel-gauges-2.png'), url('/assets/img/planets/cloudy-purple-planet.png')"></div>
          <div class="spaceship-planet-frame" data-planet-position="1" style="background-image:url('/assets/img/fuel-gauges-1.png'), url('/assets/img/planets/red-planet.png')"></div>
        </div>
        <div class="spaceship-frame-links">
          <a href="/assets/planets/blue-orange-planet.html" class="spaceship-planet-frame" data-planet-position="3"></a>
          <a href="/assets/planets/cloudy-purple-planet.html" class="spaceship-planet-frame" data-planet-position="2"></a>
          <a href="/assets/planets/red-planet.html" class="spaceship-planet-frame" data-planet-position="1"></a>
        </div>
      </div>
      <div class="planets-frame-links">
        <a class="planet-frame-link" href="/assets/planets/blue-orange-planet.html" data-planet="blue-orange-planet"></a>
        <a class="planet-frame-link" href="/assets/planets/cloudy-purple-planet.html" data-planet="cloudy-purple-planet"></a>
        <a class="planet-frame-link" href="/assets/planets/red-planet.html" data-planet="red-planet"></a>
      </div>
    </div>
  </section>
</main>