.categ-title{
  font-size: 5vw;
  color: navajowhite;
  text-align: center;
  padding-bottom: 10px;
}

.img-navigation{
  margin-top: 70%;
  z-index: 10;
  position: fixed;
}
#btn-navigation-left{
  margin-left: 3%;
}
#btn-navigation-right{
  margin-left: 93%;
}
.clickable {
  font-family: 'VT323-Regular', sans-serif;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  width:10px;
  height:45px;

}

.test {
  font-size: 9vw;
  color: white;
  padding: 6vw 0;
  text-align: center;
}

.spaceship-data-frame {
  position: absolute;
  width: 20vw;
  height: auto;
  padding-bottom: 20vw;
  background-size: 100%, 75%;
  background-repeat: no-repeat;
  background-position:  50% 15%, center;
  z-index: 0;

  &.completed {
    opacity: 0.35;
  }
}

.data-label-color {
  color: white;
  text-align: center;
  font-size: 20px;
}

[data-label-position="1"] {
  left: 49vw;
  top: -39vw;
  transform: translateX(-50%);
}

[data-label-position="2"] {
  left: 7.5vw;
  top: -32vw;
  transform: translateX(-25%);
}

[data-label-position="3"] {
  right: 7.5vw;
  top: -32vw;
  transform: translateX(25%);
}

.aide-title {
  position: absolute;
  color: white;
  font-size: 20px;
  bottom: 8vw;
  left: 48%;

}
.aide-click-animat {
  text-shadow: 1px 1px 5px yellow;
}

.planet-click-animat {
 /* -webkit-filter: grayscale(200%); /* Safari 6.0 - 9.0 */
  /* filter: grayscale(200%); */

  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 50%;
  transition: .3s ease;
  color: white;
  text-align: center;
  opacity: 1;

}

.planets-help-link {
  position: absolute;
  width: 20vw;
  height: auto;
  right: 33vw;
  top: 143vw;
}

.data-help-color {
  color: white;
  text-align: center;
  font-size: 20px;
}
