.categ-title{
  font-size: 5vw;
  color: navajowhite;
  text-align: center;
  padding-bottom: 10px;
}

.img-navigation{
  margin-top: 70%;
  z-index: 10;
  position: fixed;
}
#btn-navigation-left{
  margin-left: 3%;
}
#btn-navigation-right{
  margin-left: 93%;
}
.clickable {
  font-family: 'VT323-Regular', sans-serif;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  width:10px;
  height:45px;

}

.test {
  font-size: 9vw;
  color: white;
  padding: 6vw 0;
  text-align: center;
}
