<main class="outer-space-container" (swipeleft)="swip('left')" (swiperight)="swip('right')" *ngIf="categories">

  <section class="outer-space" *ngFor="let number of [1,2,3]" [attr.data-outer-space]=number [ngClass]="{'outer-space-approached': this.galaxySelector==number }">
    <div class="planets-frame">
      <div *ngFor="let category of getCategoriesBySpace(number)" class="planet-frame" attr.data-planet="planet-{{category.id}}"></div>
    </div>
  </section>
  <p class="test img-navigation" (click)="swip('left','left')" id="btn-navigation-left"><</p>
  <p class="test img-navigation" (click)="swip('right','right')" id="btn-navigation-right">></p>
  <section class="spaceship ">
    <img class="spaceship-cockpit" src="/assets/img/spaceship.png" alt="spaceship-cockpit">

    <div class="frame-container" *ngFor="let number of [1,2,3]" [attr.data-sector]=number [ngClass]="{'frame-container-active': this.galaxySelector==number }">
      <div class="spaceship-planet-frame-container">
        <div class="spaceship-frame-planets">
          <div class="spaceship-planet-frame" *ngFor="let category of getCategoriesBySpace(number);let i=index" attr.data-planet-position={{i+1}}
               [style.background-image]="donneeImg[category.id]" >
            <!--<h1 class="categ-title">{{category.name}}</h1>-->
          </div>
          <div class="spaceship-frame-links">
            <a *ngFor="let category of getCategoriesBySpace(number);let i=index" class="spaceship-planet-frame" attr.data-planet-position={{i+1}}></a>
          </div>
          <div class="spaceship-frame-label">
            <span *ngFor="let category of getCategoriesBySpace(number);let i=index" (click)="goToPlanet(category.id)" class="spaceship-planet-frame data-label-color" attr.data-label-position={{i+1}}
                  id="{{'id-' + category.id}}">{{ category.name }}</span>
          </div>
        </div>
      </div>
      <div class="planets-frame-links">
        <a *ngFor="let category of getCategoriesBySpace(number)" (click)="goToPlanet(category.id)" class="planet-frame-link" attr.data-planet='planet-{{category.id}}'
           id="id{{category.id}}" [style.background-image]="donneeImg[category.id]"  style="background-size:100% 100%;" >
        </a>
      </div>
      <div [ngClass]="{ 'aide-title':click == false,'aide-click-animat': clicked == true }" (click)="aide()" id="aide-btn">
        Aide ?
      </div>
    </div>
  </section>
</main>
