<section class="home auth" [ngClass]="{'home-pulled': displayLogin() }" id="1" id="home-login">
  <h1 class="app-title" (swipeleft)="swip()">Arcadia</h1>
  <h1 class="app-error">{{error}}</h1>
  <form class="galaxy-form" (ngSubmit)="onSubmit()" #alienForm="ngForm">
    <div class="galaxy-form-row">
      <input type="text" name="galaxy-nickname" placeholder="Mail" required [(ngModel)]="alien.email" name="email" #name="ngModel"
        autocomplete="off">
    </div>
    <div class="galaxy-form-row">
      <input type="password" name="galaxy-password" placeholder="Password" id="password" required [(ngModel)]="alien.password"
        name="password" autocomplete="off">
    </div>
    <button type="submit" class="button button-submit" [disabled]="!alienForm.form.valid">Login</button>
  </form>
  <h1 class="app-title" (swipeleft)="swip()">
    SIGN-UP >>></h1>
</section>