<section class="home auth" [ngClass]="{'home-pulled': displayLogin() }" id="1" id="home-login">
  <h1 class="app-title" (swipeleft)="swip()">Arcadia</h1>
  <h1 class="app-error" *ngIf="error">{{error}}</h1>
  <form class="galaxy-form" (ngSubmit)="onSubmit()" #alienForm="ngForm">
    <!--email-->
    <div class="galaxy-form-row">
      <input type="text" name="galaxy-nickname" placeholder="username@norsys.fr" id="mail" required [(ngModel)]="alien.email" #email="ngModel" autocomplete="off">
    </div>
    <!--password-->
    <div class="galaxy-form-row">
      <input type="password" name="galaxy-password" placeholder="Password" id="password" required [(ngModel)]="alien.password" autocomplete="off">
    </div>
    <!--submit-->
    <button type="submit" class="button button-submit" [disabled]="!alienForm.form.valid">Login</button>
  </form>

  <h1 class="app-title" (swipeleft)="swip()">
    SIGN-UP >>></h1>
</section>
